# Hotels Data
## by (Abrar EL-Mogy)

## Preliminary Wrangling

> ****.

In [1]:
# import all packages and libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [166]:
#load our dataset(multiple sheets)
df_area = pd.read_excel("Hotels.xlsx", sheet_name="Area")
df_hotel = pd.read_excel("Hotels.xlsx", sheet_name="Hotels")

In [167]:
df_hotel.head()

,Code,Hotel Name,Roomnights,Sale,Cost,Date
0,CODE|87851,Best Western Premier Al Ahsa Grand Hotel & Suites,57,1140,1140,"01, 2019"
1,CODE|87816,Best Western Premier Airporthotel Fontane Berlin,1935,50310,38700,"08, 2019"
2,CODE|87781,Best Western Premier Agung Resort Ubud,1897,37940,34146,"01, 2019"
3,CODE|87746,Best Western Posada Freeman,1294,38820,25880,"06, 2019"
4,CODE|87711,Best Western Pony Soldier Inn & Suites,828,22356,13248,"12, 2019"

In [168]:
df_area.head()

    Hotel ID   Country
0  CODE|9976     Spain
1  CODE|9941     Chile
2  CODE|9906  Colombia
3  CODE|9871    Mexico
4  CODE|9836     Spain

### Let's explore the data to detect the issues.

### Hotel Sheet

####    1- Let's explore the columns datatype and names

In [169]:
#[HotelSheet]check original data Types
df_hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509 entries, 0 to 2508
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Code        2509 non-null   object
 1   Hotel Name  2509 non-null   object
 2   Roomnights  2509 non-null   int64
 3   Sale        2509 non-null   int64
 4   Cost        2509 non-null   int64
 5   Date        2509 non-null   object
dtypes: int64(3), object(3)
memory usage: 117.7+ KB

In [170]:
#[HotelSheet]check original data shape
df_hotel.shape

(2509, 6)

>*Date column could be changed to Date type.*

####    2- Check missing data

In [171]:
#[HotelSheet]we need to check if any null values in dataset
df_hotel.isna().sum()

Code          0
Hotel Name    0
Roomnights    0
Sale          0
Cost          0
Date          0
dtype: int64

>*No missing data found.*

#### 3- Check for duplicates data

In [172]:
#[HotelSheet] check if any duplicate values in dataset
sum(df_hotel.duplicated())

9

In [173]:
#[HotelSheet] display the 9 duplicate records
df_hotel_duplicate = df[df.duplicated(keep=False)]
df_hotel_duplicate

,Code,Hotel Name,Roomnights,Sale,Cost,Date
31,CODE|86766,Best Western Plus Suites Hotel,1302,26040,19530,2019-09-01
32,CODE|86766,Best Western Plus Suites Hotel,1302,26040,19530,2019-09-01
33,CODE|86731,Best Western Plus Suitcase Paris La Défense,1900,45600,30400,2019-05-01
34,CODE|86731,Best Western Plus Suitcase Paris La Défense,1900,45600,30400,2019-05-01
35,CODE|86696,Best Western Plus Stovall's Inn,1313,38077,23634,2019-02-01
36,CODE|86696,Best Western Plus Stovall's Inn,1313,38077,23634,2019-02-01
163,CODE|82251,BEST WESTERN PLUS Executive Hotel and Suites,793,18239,15067,2019-02-01
164,CODE|82251,BEST WESTERN PLUS Executive Hotel and Suites,793,18239,15067,2019-02-01
165,CODE|82216,Best Western Plus Executive Court Inn & Confer...,435,9570,8700,2019-05-01
166,CODE|82216,Best Western Plus Executive Court Inn & Confer...,435,9570,8700,2019-05-01
2231,CODE|9556,AC Hotel Paris Porte Maillot,473,12771,8041,2019-07-01
2232,CODE|9556,AC Hotel Paris Porte Maillot,473,12771,8041,2019-07-01
2233,CODE|9521,AC Hotel Palencia,194,5820,2910,2019-10-01
2234,CODE|9521,AC Hotel Palencia,194,5820,2910,2019-10-01
2235,CODE|9486,AC Hotel Palau de Bellavista,759,18975,12903,2019-11-01
2236,CODE|9486,AC Hotel Palau de Bellavista,759,18975,12903,2019-11-01
2480,CODE|946,Conrad Koh Samui Residences,1100,29700,20900,2019-02-01
2481,CODE|946,Conrad Koh Samui Residences,1100,29700,20900,2019-02-01

>*9 duplicate rows found. Need to remove duplicates.*

#### 5- Check for data range[outliers]

In [174]:
df_hotel.describe()

        Roomnights          Sale          Cost
count  2509.000000   2509.000000   2509.000000
mean   1000.293344  25067.133121  17548.681148
std     575.654901  14896.844284  10294.119112
min       1.000000     28.000000     16.000000
25%     502.000000  12425.000000   8672.000000
50%    1002.000000  24648.000000  17480.000000
75%    1500.000000  37044.000000  25965.000000
max    1999.000000  59130.000000  39720.000000

In [175]:
df_hotel.min()

Code                                        CODE|1
Hotel Name     Adagio Aparthotel Jeddah Malik Road
Roomnights                                       1
Sale                                            28
Cost                                            16
Date                                      01, 2019
dtype: object

In [176]:
df_hotel.max()

Code                        CODE|9976
Hotel Name    Áurea Washington Irving
Roomnights                       1999
Sale                            59130
Cost                            39720
Date                         12, 2019
dtype: object

>*No outliers found.*

#### 6- Check for unique values

In [202]:
df['Date'].dt.year.value_counts()

2019    2505
2020       4
Name: Date, dtype: int64

### Areas Sheet:

##### We need to check the below:
1. if the same country assigned to different codes.
2. if any country has a NULL code value.

In [177]:
df_area.head()

    Hotel ID   Country
0  CODE|9976     Spain
1  CODE|9941     Chile
2  CODE|9906  Colombia
3  CODE|9871    Mexico
4  CODE|9836     Spain

In [178]:
df_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Hotel ID  2499 non-null   object
 1   Country   2499 non-null   object
dtypes: object(2)
memory usage: 39.2+ KB

In [179]:
df_area.shape

(2499, 2)

In [180]:
df_area.isna().sum()

Hotel ID    0
Country     0
dtype: int64

In [181]:
sum(df_area.duplicated())

9

In [182]:
df_area_duplicate = df_area[df_area.duplicated(keep=False)]
df_area_duplicate

       Hotel ID   Country
13    CODE|9556    France
14    CODE|9556    France
15    CODE|9521     Spain
16    CODE|9521     Spain
17    CODE|9486     Spain
18    CODE|9486     Spain
19     CODE|946  Thailand
20     CODE|946  Thailand
67   CODE|86766       USA
68   CODE|86766       USA
69   CODE|86731    France
70   CODE|86731    France
71   CODE|86696       USA
72   CODE|86696       USA
213  CODE|82251     Italy
214  CODE|82251     Italy
215  CODE|82216       USA
216  CODE|82216       USA

>*Hotel Id must be renamed to 'Code' to match Hotel sheet.*

### Issues Summary
1. [Hotel sheet] [Area sheet]Remove duplicate records.
2. [Hotel sheet]Convert Date column to Date type instead of Object. 
3. [Area sheet]Rename 'Hotel ID' Column to 'Code' to match the Hotel sheet for joining step.
4. [Hotel sheet]Add '_' to columns [Hotel Name, Roomnights].
5. [Hotel sheet]Delete records of 2020year. 
6. Join Hotel and Area sheet using Code column.

### Data Cleaning

#### 1- Remove duplicate records

In [183]:
##remove duplicate from Hotel sheet
df_hotel = df_hotel.drop_duplicates()

In [184]:
##remove duplicate from Area sheet
df_area= df_area.drop_duplicates()

#### 2- Change Date type

In [185]:
df_hotel["Date"]= pd.to_datetime(df_hotel["Date"])

In [186]:
df_hotel.head()

,Code,Hotel Name,Roomnights,Sale,Cost,Date
0,CODE|87851,Best Western Premier Al Ahsa Grand Hotel & Suites,57,1140,1140,2019-01-01
1,CODE|87816,Best Western Premier Airporthotel Fontane Berlin,1935,50310,38700,2019-08-01
2,CODE|87781,Best Western Premier Agung Resort Ubud,1897,37940,34146,2019-01-01
3,CODE|87746,Best Western Posada Freeman,1294,38820,25880,2019-06-01
4,CODE|87711,Best Western Pony Soldier Inn & Suites,828,22356,13248,2019-12-01

#### 3- Rename 'Hotel ID' column to 'Code'

In [187]:
df_area = df_area.rename(columns={'Hotel ID': 'Code'})

#### 4- Rename Columns

In [188]:
df_hotel = df_hotel.rename(columns={'Hotel Name': 'Hotel_Name', 'Roomnights': 'Room_Nights'})

In [207]:
df_hotel.drop(df.loc[df["Date"] == 2020].index, inplace=True)

#### 5- Merge Hotel and Area based on 'Code' Column.

In [189]:
df_merged = pd.merge(df_hotel, df_area, on='Code')

In [190]:
df_merged.head()

,Code,Hotel_Name,Room_Nights,Sale,Cost,Date,Country
0,CODE|87851,Best Western Premier Al Ahsa Grand Hotel & Suites,57,1140,1140,2019-01-01,Saudi Arabia
1,CODE|87816,Best Western Premier Airporthotel Fontane Berlin,1935,50310,38700,2019-08-01,Germany
2,CODE|87781,Best Western Premier Agung Resort Ubud,1897,37940,34146,2019-01-01,Indonesia
3,CODE|87746,Best Western Posada Freeman,1294,38820,25880,2019-06-01,Mexico
4,CODE|87711,Best Western Pony Soldier Inn & Suites,828,22356,13248,2019-12-01,USA

### Feature Engineering

#### 1- Cluster the data by room nights into three categories: high demand, mid demand, and low demand in a new column and identify the distribution.

In [191]:
df_merged['Room_Nights'].min()

1

In [192]:
df_merged['Room_Nights'].max()

1999

#### Since the min and max of reserved room nights are 1 and 1999 so the demand distribuation will be as follow:
- Low Demand: 1 to X room nights
- Mid Demand: X+1 to Y room nights
- High Demand: Y+1 to 1999 room nights

>Y and X values supposed to be defined by the bussiness but will assume that X=100 and Y= 1000

In [193]:
# Define the bin edges for clustering
bin_edges = [0, 100, 1000, 1999]

In [194]:
# Define labels for the clusters
bin_labels = ['low demand', 'mid demand', 'high demand']

In [195]:
df_merged['Demand_Distribution'] = pd.cut(merged_df['Room_Nights'], bins=bin_edges, labels=bin_labels)

In [196]:
df_merged.head()

,Code,Hotel_Name,Room_Nights,Sale,Cost,Date,Country,Demand_Distribution
0,CODE|87851,Best Western Premier Al Ahsa Grand Hotel & Suites,57,1140,1140,2019-01-01,Saudi Arabia,low demand
1,CODE|87816,Best Western Premier Airporthotel Fontane Berlin,1935,50310,38700,2019-08-01,Germany,high demand
2,CODE|87781,Best Western Premier Agung Resort Ubud,1897,37940,34146,2019-01-01,Indonesia,high demand
3,CODE|87746,Best Western Posada Freeman,1294,38820,25880,2019-06-01,Mexico,high demand
4,CODE|87711,Best Western Pony Soldier Inn & Suites,828,22356,13248,2019-12-01,USA,mid demand

#### 2- Adding Profit and Loss Columns

In [197]:
df_merged['Profit'] = merged_df.apply(lambda row: max(row['Sale'] - row['Cost'], 0), axis=1)

In [198]:
df_merged['Loss'] = merged_df.apply(lambda row: max(row['Cost'] - row['Sale'], 0), axis=1)

In [199]:
df_merged.head()

,Code,Hotel_Name,Room_Nights,Sale,Cost,Date,Country,Demand_Distribution,Profit,Loss
0,CODE|87851,Best Western Premier Al Ahsa Grand Hotel & Suites,57,1140,1140,2019-01-01,Saudi Arabia,low demand,0,0
1,CODE|87816,Best Western Premier Airporthotel Fontane Berlin,1935,50310,38700,2019-08-01,Germany,high demand,11610,0
2,CODE|87781,Best Western Premier Agung Resort Ubud,1897,37940,34146,2019-01-01,Indonesia,high demand,3794,0
3,CODE|87746,Best Western Posada Freeman,1294,38820,25880,2019-06-01,Mexico,high demand,12940,0
4,CODE|87711,Best Western Pony Soldier Inn & Suites,828,22356,13248,2019-12-01,USA,mid demand,9108,0

## Exploratory Data Analysis

> Now we've trimmed and cleaned the data, we're ready to move on to exploration and answer the below questions using Tableau then creating our dashboard.

### Research Question 1 (Hotels with highest profitability and losses?)
### Research Question 2 (Countries with highest profitability and losses?).
### Research Question 3 (Total Sales per country?)

In [200]:
##create new excel sheet
df_merged.to_excel('C:\\Data Analysis\\EETTask\\FirstTask\\New_Hotel.xlsx', index=False, encoding='utf-8')